* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 1.2rem;
}

a {
    text-decoration: none;
}

.navbar-brand {
    padding-right: 25px;
    border-right: 2px solid #fff;
}

.navbar-nav .nav-item:hover .nav-link {
    color: #198754;
}

.navbar-collapse {
    padding: 15px 0;
}

.navbar-toggler {
    border: none;
}

.game-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 130px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background: #fff;
    border-radius: 15px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #000000;
    text-align: center;
}

#game-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

#hint-button,
#restart-button,
#check-button {
    background: #070707;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

#hint-button:hover {
    background: #198754;
}

#restart-button:hover {
    background: #E5554F;
}

#check-button:hover {
    background: #198754;
}

#timer {
    font-size: 1.2em;
    color: #555;
}

#crossword {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45, 1fr));
    grid-gap: 3px;
    margin: 20px auto;
    width: 100%;
    max-width: 90vw;
}

#crossword div {
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#crossword div input {
    width: 100%;
    height: 100%;
    border: 1px solid #000;
    background: transparent;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
    outline: none;
}

#crossword div.filled {
    background-color: #000000;
    color: #fff;
    pointer-events: none;
}

#crossword input:disabled {
    color: #333;
    border: none;
    /* Inputs desativados sem borda */
}


.crossword-container {
    display: grid;
    gap: 2px;
}

.crossword-container div {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.crossword-container input {
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 18px;
    border: 1px solid #000;
}

.black-cell {
    background-color: transparent;
    border: none;
}

.revealed {
    background-color: #CCFFCC !important;
}

#crossword input:disabled {
    color: #333;
}

.word-cell {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.word-number {
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: 12px;
    font-weight: bold;
    color: black;
}

.grid-cell {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 100%;
}

.word-marker {
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: 10px;
    z-index: 1;
    color: #666;
}

input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.incorrect {
    background-color: #ffcccc !important;
}

.empty-cell {
    background-color: transparent;
    border: none;
}

.clues {
    margin-top: 20px;
}

.clues h2 {
    font-size: 1.5em;
    color: #198754;
}

#clues-list {
    text-align: left;
    padding: 0;
    list-style: none;
    font-size: 1.0em;
}

#game-status {
    margin-top: 20px;
}

#status-message {
    font-size: 1.2em;
    color: #555;
}

@media (max-width: 992px) {
    .navbar-brand {
        font-size: 0.9rem;
        padding-right: 15px;
    }

    #game-header {
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 768px) {
    .game-container {
        margin-top: 120px;
    }
}

@media (max-width: 680px) {

    .navbar-brand {
        font-size: 0.6em;
    }

    .navbar-nav {
        font-size: 0.8em;
    }


    #crossword div {
        font-size: 1em;
    }

    h1 {
        font-size: 1em;
    }

    .clues h2 {
        font-size: 1em;
    }

    #clues-list {
        font-size: 0.8em;
    }
}


@media (max-width: 500px) {

    .navbar-toggler {
        font-size: 0.8em;
    }

    #hint-button,
    #restart-button,
    #check-button {
        background: #070707;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 0.5em;
    }

    #crossword {
        width: 100%;
    }

    #crossword div {
        width: 200%;
    }

    #crossword div input {
        width: 200%;
        height: 200%;
        border: 1px solid #000;
        background: transparent;
        text-align: center;
        font-size: 1.2em;
        font-weight: bold;
        text-transform: uppercase;
        color: #333;
    }

    h1 {
        font-size: 1em;
    }

    .clues h2 {
        font-size: 1em;
    }

    #clues-list {
        font-size: 0.5em;
    }


}