* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    min-width: 290px;
    color: #4d4e53;
    background-color: #ffffff;
    font-family: "Open Sans", Arial, sans-serif;
    line-height: 1.5;
}

/* Estilo da Navbar */
.navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 1.2rem;
}

a {
    text-decoration: none;
}

.navbar-brand {
    padding-right: 25px;
    border-right: 2px solid #fff;
}

.navbar-nav .nav-item:hover .nav-link {
    color: #198754;
}

.navbar-collapse {
    padding: 15px 0;
}

.navbar-toggler {
    border: none;
}

.form-select::-webkit-scrollbar {
    width: 8px;
    background-color: #f1f1f1;
}

.form-select::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 4px;
}

.dropdown-menu::-webkit-scrollbar {
    width: 8px;
    background-color: #f1f1f1;
}

.dropdown-menu::-webkit-scrollbar-thumb {
    background-color: #000000;
    border-radius: 4px;
}


/* Estilo geral do navside */
#navside {
    margin-top: 20px;
    position: fixed;
    left: 0;
    width: 150px;
    height: 100%;
    background-color: #212529;
    padding: 40px 0;
    border-top: #ccc;
    overflow-y: auto;
}

/* Estilo para a barra de rolagem */
#navside::-webkit-scrollbar {
    width: 1px;
    /* Largura da barra */
}

#navside::-webkit-scrollbar-track {
    background: #ffffff;
    /* Cor do fundo da barra */
}

/* Estilo da lista */
#navside ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Estilo dos itens da lista */
#navside li {
    position: relative;
    padding: 10px 20px;
    margin: 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Estilo para links */
#navside a.nav-link {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    display: block;
}

/* Estilo do item ativo */
#navside li.active {
    background-color: #fff;
    box-shadow: 0px -3px rgba(0, 0, 0, 0.2), 0px 3px rgba(0, 0, 0, 0.2);
}

#navside li.active a {
    color: #198754;
}

/* Efeito decorativo para o item ativo */
#navside li.active::before,
#navside li.active::after {
    content: "";
    position: absolute;
    background-color: transparent;
    right: 0;
    width: 20px;
}

#navside li.active::before {
    bottom: 100%;
    height: 150%;
    border-bottom-right-radius: 25px;
    box-shadow: 0 20px 0 0 #fff;
}

#navside li.active::after {
    top: 100%;
    height: 150%;
    border-top-right-radius: 25px;
    box-shadow: 0 -20px 0 0 #fff;
}


/* Estilos para o conteúdo principal */
#main-doc {
    margin-left: 200px;
    margin-top: 50px;
    padding: 20px;
}


section {
    padding: 20px;
    padding-top: 80px; /* Espaço para a navbar fixa */
    position: relative;

}

section article {
    padding: 25px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo da tabela */
table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    padding: 10px;
    border: 1px solid #ddd;
    /* Bordas finas */
    text-align: left;
    color: #333;
}

.fixed-buttons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

.fixed-buttons button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.3s;
}

.fixed-buttons button:hover {
    background-color: #198754;
}


/* Ajuste de posicionamento para um botão em cima do outro */
.fixed-buttons button:nth-child(2) {
    margin-bottom: 0;
    margin-top: -10px;
}


#chatbotContainer {
    position: relative;
}

#chatbot {
    display: none;
    position: fixed;
    bottom: 90px;
    right: 20px;
    width: 300px;
    background-color: #fffcfc;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

#chatbotHeader {
    background-color: #2c2c2c;
    color: #fff;
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: space-between;
}

#closeChatbotButton {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

#closeChatbotButton:focus {
    outline: none;
}


#chatbotMessages {
    font-size: 12px;
    position: relative;
    background-color: #f1f1f1;
    padding: 10px;
    border: solid 1px #262424;
    margin: 10px;
    border-radius: 5px;
}


#userInput {
    width: calc(100% - 80px);
    margin: 10px;
    padding: 10px;
    font-size: 12px;
    border-radius: 5px;
}

#sendMessageButton {
    width: 60px;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 5px;
}



@media (max-width: 800px) {
    /* Estilos responsivos para telas menores */

    .navbar-brand {
        font-size: 0.2rem;
        padding-right: 15px;
    }

    .navbar-nav {
        flex-direction: column;
    }

    .navbar-nav .nav-item {
        display: flex;
        align-items: center;
        margin: 5px;
        padding-right: 5px;
    }

    .dropdown-menu {
        --bs-dropdown-padding-x: 0;
        --bs-dropdown-padding-y: 0;
        margin: 0 10px;
    }

    form {
        width: 95%;
    }

    #navside {
        margin-top: -10px;
        width: 40px;
        height: 100%;
        background-color: #212529;
        border-top: #ccc;
    }

    #navside li {
        padding: 10px;
    }

    #navside a.nav-link {
        text-decoration: none;
        color: #fff;
        font-size: 10px;
        display: block;
    }

    #navside ul {
        list-style: none;
        padding: 1px;
        margin: auto;
    }

    #main-doc {
        margin-top: 60px;
        margin-left: 45px;
        padding: 5px;
    }

    section article {
        padding: 5px;
    }

    header {
        font-size: 1rem;
    }

    #navside .nav-link {
        padding: 0;
    }

    p {
        font-size: 0.8rem;
        padding: 10px;
    }

    #navside a {
        padding: 8px 20px;
    }

    table {
        max-width: 100%;
        /* Define a largura máxima da tabela */
        margin-bottom: 20px;
        /* Adiciona margem inferior para separar as tabelas */
    }

    table th,
    table td {
        max-width: 50px;
        flex-wrap: wrap;
        overflow: hidden;
        font-size: .5rem;
    }

    /* Estilos para o mapa responsivo */
    iframe {
        max-width: 70%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
}


@media only screen and (max-width: 750px) {
    /* Estilos responsivos para telas menores */

    html {
        font-size: 12px;
    }
    .navbar-brand {
        font-size: 13px;
    }

    .navbar {
        font-size: 10px;
        padding: 8px;
    }


    .navbar>.container,
    .navbar>.container-fluid {
        display: flex;
        flex-wrap: inherit;
        align-items: center;
    }

    .dropdown-item {
        font-size: 14px;
    }

    .form-control {
        width: 70%;
    }
}